<header id="top">
  <div class="header">
    <h1 id="mainTitle">AC Wood and Leathercraft</h1>

    <button type="button" name="menu" class="menu-button" id="menuButton" aria-expanded="false" aria-controls="nav" aria-label="Toggle navigation">
      <span class="button-line"></span>
      <span class="button-line"></span>
      <span class="button-line"></span>
      <span class="sr-only">Toggle navigation</span>
    </button>
  </div>

  <!-- Navigation Menu -->
  <ul id="nav" role="navigation" aria-label="Main menu" class="hidden">
    <li class="nav-link"><a href="woodcraft.html">WoodCraft</a></li>
    <li class="nav-link"><a href="leathercraft.html">LeatherCraft</a></li>
    <li class="nav-link"><a href="knifemaking.html">Knifemaking</a></li>
    <li class="nav-link"> <a href="remodel.html">House Remodel</a> </li>
  </ul>

  <!-- slot for page-specific content -->
  <div data-slot></div>
</header>