<header id="top">
  <div class="header">
    <h1 id="mainTitle">AC Wood and Leathercraft</h1>
  </div>

  <!-- Navigation Menu -->
  <ul id="nav" role="navigation" aria-label="Main menu" class="hidden">
    <li class="nav-link"><a href="index.html">Home</a></li>
    <li class="nav-link"><a href="woodcraft.html">WoodCraft</a></li>
    <li class="nav-link"><a href="leathercraft.html">LeatherCraft</a></li>
    <li class="nav-link"><a href="knifemaking.html">Knifemaking</a></li>
    <li class="nav-link"> <a href="remodel.html">House Remodel</a> </li>
  </ul>

  <!-- slot for page-specific content -->
  <div data-slot></div>
</header>